# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod

!README.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!.vscode
!.editorconfig
!benchmarks/*.md

# Configuration files
!*.yaml
!*.json
!*.toml
!*.sh

# ...even if they are in subdirectories
!*/

# Allow everything in assets folder
!/assets/**